body, html {
    height: 100%;
    margin: 0;
    width: 100%;
    
}

.bg {
    background-image: url("sitebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    
}

.intro-text {
    text-align: center;
    position: absolute;
    left: 0;
    top: 45%;
    right: 0;
    margin: auto;
    line-height: 10%;
}

    .intro-text h1 {
        /*text-transform: uppercase;*/
        font-size: 30px;
        letter-spacing: 3px;
        color: #f7f9fb;
        margin-bottom: 30px;
        font-weight: 800;
    }

    .intro-text h3 {
        /*text-transform: uppercase;*/
        font-size: 25px;
        letter-spacing: 2px;
        color: #f7f9fb;
        font-weight: 600;
    }

        .intro-text h3 span {
            /*text-transform: uppercase;*/
            font-size: 25px;
            letter-spacing: 2px;
            color: black;
            font-weight: 600;
        }

/* Cards   */
.services {
    text-align: center;
    margin-top: 40px;
    /* margin-bottom: 10px; */
}
  .cards_home {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .card {
    border-radius: 20px;
    padding: 10px;
    height: 100%;
    border-color:#888888
  }

 /* Dashboard Page */

 #db-main {
    
    /* border: 1px solid red; */
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    
 }

 .db-1 {
    color: bisque;
    /* border: 1px solid red; */
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 40px;
    background-color: rgba(234, 236, 245, 0.295);
    box-shadow: 3px 3px 3px #888888;
    line-height: 0%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: -3%;
 }

 .icon1 {
    display: flex;  
    align-items: center;
 }

 .icon1 img {
    margin-right: 10px;
    height: 60px;
 }

 #smartinsight {
    color: #fff;
    /* border: 1px solid red; */
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 40px;
    margin-left: 107px;
    margin-right: 5%;
    background-image: url(sibg2.png), url(sibg1.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom -50px right 15%, top left;
    background-size: 37vh, 100%;
 }  

 .si {
   
 }

 .buttons {
    position: relative;
    left: 65%;
    top: -40px;
    border-radius: 30px 30px 30px 30px;
 }
 
.h-100 {
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 4px;
    color: black; 
}

#s-d .container{
    color: #fff;
    border: 2px solid white;
    width: 100%;
    margin-left: 107px;
    margin-right: 20%;
    }

#s-d .container p{
    padding-top: 20px;
    font-weight: bold;
}

#editbtn {
    position: relative;
    left: 95%;
    top: -40px;
    border-radius: 5px 5px;
}

#s-d .row {
    border: 2px solid white;
    background-color: white;
    color: black;
           
}

#s-d .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    border: 5px solid aliceblue;
    border-radius: 10px;
    margin: 5px 22px;
    
}

/* Data Table */

#datatable {
    /* border: 5px solid green; */
    padding-bottom: 20px;
}

#datatable .container{
    border: 2px solid white;
    margin-left: 107px;
    margin-right: 15%;
    right: 20%;
    
}

#datatable .row{
    border: 5px solid aliceblue;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 10px 10px;
}

#datatable h1{
    text-align: center;
    color: #e27d60;
    margin-bottom: 5px;
    
}

